<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malware Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">
</head>
<body>
    <div class="container2">
        <h1>Malware Dashboard</h1>
        <table>
            <thead>
                <tr>
                    <th>Instance ID</th>
                    <th>Created At</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for row in malwares %}
                    <tr>
                        <td>{{ row.instance_id }}</td>
                        <td>{{ row.created_at }}</td>
                        <td>{{ row.status }}</td>
                    <td><a href="{{ url_for('display_malware_details', instance_id=row.instance_id) }}">View Details</a></td>
                    </tr>
                {% endfor %}
                <!-- Example rows (replace with dynamic data) -->
            </tbody>
        </table>
    </div>
</body>
</html>
